<html>
  <head>
    <title>Geolocation</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
    
      /* Optional: Makes the sample page fill the window. */
    </style>
  </head>
  <body>
    
   
  </body>
</html>