<html>
  <head>
    <title>Geolocation</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 40%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
        /*background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSGyVZDaw54M3_6JierEdySz8S3Mhx0H_EjbWbMZAU2QDUDjIyX");*/
      }
    </style>
  </head>
  <body>
    <div id="map"></div>
  
      
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyClRlqdx0umR1_F6izXYYFExsl5eYUG4p8&callback=initMap">
    </script>
    
  </body>
</html>