<div class="body-wrapper">
  <h1>Stats</h1>
   <div id="map">
    </div>
  <% @questions.each do |question| %>
    <p><%= question.title %> <br>
    
    <% if question.integer %>
      - average rating: <%= question.average_rating.to_s[0..3] %><br>
    <% end %>
    
    <% if question.boolean %>
      - completed: <%= question.total_boolean_responses %> time(s) in the last 7 days <br>
    <% end %>

    <% if question.text %>
      - NEED A TEXT STAT HERE SINCE THE TEXT QUESTIONS WILL STILL SHOW UP
    <% end %>
    </p>   
  <% end %>
    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyClRlqdx0umR1_F6izXYYFExsl5eYUG4p8&callback=initMap">
    </script>
<div>
