/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
html{
  background-image: url("https://unsplash.it/1600/1000/?image=1073");
}

#map {
  height: 40%;
  width: 40%;
  float: right;
}

.body-wrapper {
  width:70%;
  height:1000px;
  background-color: white;
  margin:auto;
  border-radius:0.2em;
  opacity: 0.95
}

.transparent {
  width:70%;
  height:1000px;
  background-color: none;
  margin:auto;
  border-radius:0.2em;
  opacity: 0.95
}

.title {
  height: 1.5em;
  width: 3em;
  text-align: center;
  margin: 2.5em auto 0 auto;
  font-size:9em;
  color: #f3f2f2;
}

.nav-title{
  height: 1em;
  width: 3em;
  text-align: center;
  margin: auto;
  font-size:7em;
  color: #f3f2f2;
}

.logs{
  width:12em;
  float: left;
  /*margin:-55px 30px 0px 0px;*/
  text-align:center;
}
.logs p {
  font-family: Raleway, Arial;
  color:white;
  /*display: inline-block;*/
  padding-right:10px;
  font-size:120%;
  padding-bottom:1em;
}
.logs a {
  font-family: Raleway, Arial;
  color:white;
  display: inline-block;
  font-size:120%;
  text-decoration: none
}

.home a{
  font-family: Raleway, Arial;
  float:left;
  text-decoration: none;
  color:white;
  /*font-size:160%;*/
  /*margin-top:-44px;*/
  margin-left: 4.4em;
}

.error {
  color:white;,
  font-size: 10em;
  width:20em;
  height: 3em;
  margin:auto;
  text-align:center;
}

