.trash a{
  font-size: 120%;
  margin-left: 1em;
  text-decoration: none;
}

.profile-pic {
  float: right;
  margin: 3em;
  border-radius: 1em;
}

.profile-pic img{
  border-radius: 5px;
   box-shadow: 2px 2px 1px #888888;
}