// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main_title{
  height: 1.5em;
  width: 3em;
  text-align: center;
  margin: 2.5em auto 0 auto;
  font-size:9em;
  color: #f3f2f2;
  overflow: hidden;
  transform: translateY(-50%); 
  white-space: nowrap;
  -webkit-animation: fadein 4s;
}



@keyframes fadein {
   from { opacity: 0; }
    to   { opacity: 1; }
}


.main_login_button{
  height:1.4em;
  width:6em;
  border:solid;
  border-width:1px;
  margin:auto;
  margin-top:-3em;
  text-align:center;
  font-size:2em;
  background-color:#ff3333;
  border:none;
  border-radius:30px;
   -webkit-animation: fadein 4s;
}

.main_login_button a{
  font-family: 'Montserrat', Helvetica, sans-serif;
  text-decoration: none;
  color:white;
}


.user_name{
  width:6em;
  margin:auto;
  text-align:center;
}

.question_form{
  margin-left:1em;
}

.question_form input[type=submit]{
  font-size:20px;
  background-color: #ff3333;
  border:none;
  color: white;
  border-radius: 4px;
}

input[type=checkbox] {
  transform: scale(1.2);
}

.box input {
  font-size: 30px;
}

.box {
  font-size:25px;
  margin:10px auto;
}

textarea{
  font-size:17px;
}

.register_form {
  text-align:center;
  margin-top:5em;
}

.reg-link{
  width:7em;
  line-height:35px;
  margin:auto;
  text-align: center;
  border-radius:10px;
  background-color: #ff3333;
}

.reg-link a{
  color:white;
  text-decoration:none;
  vertical-align: middle;
}

.image-button{
  width:6em;
  margin:auto;
  height:3em;
}

.image-button input{
  height:2em;
}